In [7]:
#32
set1 = {1, 3, 5 ,7, 9}
set2 = {2, 3, 5, 11, 13}
union_set = set1 | set2
print("합집합:", union_set)
intersection_set = set1 &set2
print("교집합:", intersection_set)

합집합: {1, 2, 3, 5, 7, 9, 11, 13}
교집합: {3, 5}

In [8]:
#33
set1 = {1, 3, 5 ,7, 9}
set2 = {2, 3, 5, 11, 13}
difference_set = set1-set2
print("차집합:", difference_set)
symmetric_diff_set = set1 ^ set2
print("대칭차집합:", symmetric_diff_set)

차집합: {1, 9, 7}
대칭차집합: {1, 2, 7, 9, 11, 13}

In [20]:
#34
set = {50, 60, 70, 80, 90}
set.update({100})
print("업데이트:", set)

업데이트: {80, 50, 100, 70, 90, 60}

In [ ]:
#35
b = {400, 500, 600, 700, 800}

a = {100, 200, 300, 400, 500}
a.intersection_update(b)
print("intersection_update 결과:", a)

a = {100, 200, 300, 400, 500}
a.difference_update(b)
print("difference_update 결과:", a)

a = {100, 200, 300, 400, 500}
a.symmetric_difference_update(b)
print("symmetric_difference_update 결과:",a)

intersection_update 결과: {400, 500}
difference_update 결과: {100, 200, 300}
symmetric_difference_update 결과: {800, 700, 100, 200, 600, 300}

In [14]:
#36
a = {100, 200, 300, 400, 500}
set = {100, 200, 300, 400, 500}

if a.issuperset(set) and a.issubset(set):
    print("동시")
elif a.issuperset(set):
    print("상위")
elif a.issubset(set):
    print("부분")

동시

In [18]:
#37
set = {6, 2, 7, 5, 8}
set.add(1000)
removed_value = set.pop()
print("삭제:", removed_value)
print("최종:", set)

삭제: 2
최종: {5, 6, 7, 8, 1000}

In [19]:
#38
multiples = {x for x in range(1, 101)if x % 3==0 and x % 5==0}
print(multiples)

{75, 45, 15, 90, 60, 30}